.tabs {
margin-bottom: -1px !important;
position: relative;
}
.tab-content {
padding: 60px;
top: 197px;
color: #000;
background-color: white;
}
.tab-pane {
/*display: none;*/
}
.tab-pane.is-active {
display: block;
width: 50%;
position: relative;
left: 50%;
transform: translateX(-50%);
}
.muensterlogo {height: 50pt;}

/* c4m footer styles */
.uk-subnav > * > * {
    display: inline-block;
    color: #ddd;
}
.uk-subnav > * {
    float: left;
}
.uk-subnav > * {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    padding-left: 10px;
    margin-top: 10px;
    position: relative;
}
.uk-flex-center {
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.uk-subnav a:hover {
    color: 
    white;
}
.uk-subnav {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-top: -10px;
    padding: 0;
    list-style: none;
}
.tm-footer .uk-subnav-line > li::before {
    border-color: 
    #ddd;
}
.uk-subnav-line > :nth-child(n+2)::before {
    margin-right: 10px;
    border-left: 1px solid 
    #ddd;
        border-left-color: rgb(221, 221, 221);
}
.uk-subnav-line > ::before {
    content: "";
    display: inline-block;
    height: 10px;
    vertical-align: middle;
}

#info-logos img, .logo-img  {
    margin: 5px 5px;
    height:70px;
    display:block
}
.logo-img {
    margin-left: -12px;
}
#info-logos .img {
    float:left; 
    background-color:#fff;
    margin:5px 5px
}
#pane-5 {background-color:#eee}
/*  vortragsprogramm styling */
.native-js.is-info {
	background: linear-gradient(-30deg, #222255E5, #222255E5 45%, #222255 45%) #fff;
  }
.native-js.is-info strong {
	color:white
}
.native-js.is-info strong {
    color: white;
    background-color: #69f;
    width: 100%;
    display: block;
    color:black;
    padding: 4px 8px;
    font-size: 12pt;
    margin-bottom: 5px;
    border-radius: 6px;
}

.is-active {
display: initial;
}
.room {display:block;font-weight:bold;color:#999}
.cent{
display: block;
margin: 10px auto;
padding: 5px;
border: 1px solid #ccc}

.video
{display: block;
margin: 0 auto;}


/* CSS from http://embedresponsively.com 
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
*/