* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #F8F8F2 url("../back.png");
  margin: 0;
  padding: 0; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  #container #home {
    margin: 30px 0;
    box-shadow: 0 0 5px 3px #ccc;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    background: white; }
    #container #home:last-child {
      margin-right: 0; }
    #container #home h1 {
      font-family: "ff-meta-web-pro";
      color: #063E5F;
      font-size: 5em;
      margin: 0.2em; }
    #container #home h2 {
      font-family: "droid-sans-mono";
      font-size:2.2em;}
    #container #home #intro {
      font-family: "droid-sans-mono";
      line-height: 1.6em;
      width: 800px;
      margin: 0 auto;}
    #container #home #intro section {
      width: 800px;
      float: left;
    }
    #container #home #intro p {
      padding: 20px 0px;
      float:left;
    }
    #container #home #intro .track {
      border-radius: 255px;
      width: 255px;
      height: 255px;
      font-family: "ff-meta-web-pro";
      float: left;
      margin: 5px;
      padding: 25px 20px;
      color:#fff;}
    #container #home #intro .infos {
      text-align: center;
      margin:50px 0px 10px;
    }
    #container #home #intro .button { 
      color: #0D5781;
      padding: 20px;
      font-size: 28px;
      font-weight: 700;
    }
    #container #home #intro .track h3 {
      font-size: 1.4em;
    }
    #container #home #intro .diy {
      background-color:#3BBBDA;
    }
    #container #home #intro .ho {
      background-color:#0D709A; 
    }
    #container #home #intro .dj {
      background-color:#0D5781;
    }
  #container #mc_embed_signup {
    width: 100%;
    float: left;
    background: #a9c1d9;
    padding: 20px;
    margin: 20px 0;
    *zoom: 1; }
    #container #mc_embed_signup:before, #container #mc_embed_signup:after {
      content: " ";
      display: table; }
    #container #mc_embed_signup:after {
      clear: both; }
    #container #mc_embed_signup form {
      width: 80%;
      margin: 0 auto; }
      #container #mc_embed_signup form input#mce-EMAIL {
        float: left;
        padding: 5px;
        font-size: 1.2em;
        width: 80%;
        font-family: "droid-sans-mono";
        text-align: center; }
      #container #mc_embed_signup form input#mc-embedded-subscribe {
        float: left;
        padding: 7px;
        margin: 5px 10px;
        background: #607890;
        color: white;
        font-size: 1em;
        border: none;
        border-radius: 2px; }
  #container #tickets {
    padding: 20px; 
    float:left;
    width: 100%;}
    #container #tickets h3 {
      text-align: center;
      font-family: "ff-meta-web-pro";      
      text-transform: uppercase; }
